body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    font-family: Verdana;
}

.main-box{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

input, select{
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 10px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 2px;
}

input{
    border-radius: 5px;
}

select{
    padding: 8px;
    background-color: rgb(221, 221, 221);
}

button{
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

p{
    font-weight: bold;
}
