.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

*{
    font-family: 'Trebuchet MS', sans-serif;
}

.blok-boczny{
    background-color: #C5CAE9;
    width: 40%;
    flex: 40%;
    height: 600px;
    overflow-y: scroll;
}

.seckja-1, .sekcja-2{
    width: 60%;
    height: 300px;
}

.sekcje{
    flex: 60%;
}

.sekcja-1{
    background-color: #9FA8DA;
    flex: 100%;
}

.sekcja-2{
    background-color: #7986CB;
    flex: 100%;
    width: 100%;
}

footer{
    background-color: #283593;
    color: white;
    padding: 20px;
}

.opona{
    background-color: #9FA8DA;
    margin: 40px;
    border: 2px dotted #283593;
    border-radius: 30px;
}

img{
    float: left;
    padding: 20px;
}

h2{
    text-align: center;
    margin: 0px;
    padding: 15px;
}

h3{
    background-color: #7986CB;
    color: white;
    font-size: 140%;
}
