.flex-row{
    display: flex;
    flex-direction: row;
}

.baner{
    background-color: #993333;
    color: white;
    text-align: center;
    height: 80px;
}

.panel1, .panel2, .panel3, .panel4{
    font-family: Tahoma;
    background-color: #CC6666;
    color: white;
    text-align: center;
    width: 25%;
    height: 150px;
}

.panel-lewy, .panel-prawy{
    background-color: #CC9999;
    width: 40%;
    height: 550px;
    text-align: center;
}

.panel-srodkowy{
    background-color: #FFCCCC;
    width: 20%;
    height: 550px;
}

.stopka{
    background-color: #993333;
    color: white;
    text-align: right;
}

table{
    border: 1px dotted red;
    width: 100%;
}

td{
    text-align: center;
}

button{
    border: none;
    padding: 20px;
    background-color: red;
    color: white;
}
